node_modules/
*.log

reports/cucumber/*
reports/html/*
reports/failure-artifacts/*
screenshots/*
videos/*
traces/*
test-results/*

!reports/.gitkeep
!reports/cucumber/.gitkeep
!reports/html/.gitkeep
!reports/failure-artifacts/.gitkeep
!screenshots/.gitkeep
!videos/.gitkeep
!traces/.gitkeep
!test-results/.gitkeep
!test-results/cucumber/.gitkeep
